body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(minimalistic-workplace-with-gadgets.jpg);
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(140, 250, 213, 0.727); /* Ajusta la opacidad del fondo */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

p {
    color: #666;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 22px); /* Considera el relleno de 10px en cada lado */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.cargarDocumentosBtn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cargarDocumentosBtn:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el mensaje de éxito */
.mensajeExito {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 255, 0, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.mensajeExito.hidden {
    opacity: 0;
    pointer-events: none; /* Para que el usuario no pueda interactuar con el mensaje oculto */
}
